div.attention {
    background-color: red;
    font-size: 32px;
    text-align: center;
    font-weight: 900;
    color: white;
}

.pink {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: lightgreen;
    font-weight: bold;
}

.biggie {
    font-size: 24px;
}

.first,
.second {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}
.first{
    background-color: black;
    color: white;
}
.second{
    background-color: yellow;
}